@import "/css/abstracts/media-queries.css";

.timer {
  display: grid;
  grid-template-rows: 1fr min-content;
  place-items: center;
  gap: var(--spacing-la);

  position: relative;

  background-image: var(--clr-surface-gradient);

  border-radius: 2ex;
  padding: var(--spacing-la);

  box-shadow: -5px 15px 50px black,
    5px -15px 50px var(--clr-surface-transparent),
    inset 0px 0px 100px var(--clr-surface-text-transparent);

  @media (--landscape) {
    aspect-ratio: 1;
    border-radius: 50%;
  }
}
