@import "/css/base/reset.css";
@import "/css/base/typography.css";

@import "/css/components/button.css";
@import "/css/components/timer.css";

@import "/css/utilities/sr-only.css";

main {
  display: grid;
  place-content: center;
  min-block-size: 100%;
  padding-inline: var(--spacing-m);

  background-color: var(--clr-surface);
}
