@import "/css/base/reset.css";
@import "/css/base/typography.css";

@import "/css/components/button.css";
@import "/css/components/progress-ring.css";
@import "/css/components/timer.css";

@import "/css/utilities/flex.css";
@import "/css/utilities/grid.css";
@import "/css/utilities/screen-reader.css";

body {
  background-color: var(--clr-surface);
}

main {
  max-inline-size: 30rem;
  min-block-size: 100%;

  padding-inline: var(--spacing-m);
  margin: 0 auto;
}
